<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block head %}
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}

    <style type="text/css">
.cluster-list {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
}

.cluster-list > li {
    margin: 1em;
    box-shadow: 0 0 0.2em 0.1em gray;
}

.cluster-list li {
    padding-left: 0;
}
.compact-cluster {
    max-width: 40em;
    margin: 1em;
    padding: 0.5em;
    padding-left: 0;
}
.compact-cluster li {
    display: inline-block;
    list-style-type: none;
    margin: 0.25em 0.5em;
    padding-left: 0;
}

.feature-link { text-decoration: none; }

    </style>

    {% block meta %}
    {% endblock %}
</head>

<body class="with-sidebar" up-main>
    <header>
        <h1>Feature Clustering</h1>
        <nav>
        <ul>
            <li><a href="/">Home</a></li>
        {% block nav %}
        {% endblock %}
        </ul>
        </nav>
    </header>
    <main>{% block content %}{% endblock %}</main>
</body>
</html>
