{% extends "base.html" %}

{% block title %}Cluster {{ cluster_id }}{% endblock %}

{% block nav %}<li><a href="/index/{{ index_id }}">Index overview</a></li>{% endblock %}

{% block content %}

<details>
    <summary>Edit this cluster</summary>
    <form method="post" action="/index/{{ index_id }}/feature/remove_from_model">
        <label for="feature_selection">Choose features:</label>
        <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
        <select name="feature_id" id="feature_selection" multiple>
            {% for feature_id, field, value, count in features %}
            <option value="{{ feature_id }}">{{ field }}: {{ value }}</option>
            {% endfor %}
        </select>
        <button type="submit">Delete 🗑️</button>
        <button type="submit" formaction="/index/{{ index_id }}/cluster/create" method="post">Create New Cluster</button>
    </form>
</details>
<ul class="compact-cluster">
    {% for feature_id, field, value, count in features %}
    <li><a class="feature-link" href="/index/{{ index_id }}/cluster/{{cluster_id}}?feature_id={{ feature_id }}">{{ field }}: {{ value }}</a> ({{ count }})</li>
    {% endfor %}
</ul>

{% endblock %}
