{% extends "base.html" %}

{% from 'macros.html' import render_cluster %}

{% block title %}Cluster {{ cluster_id }}{% endblock %}

{% block nav %}
    <li><a href="/index/{{ index_id }}/details">Index Details</a></li>
    <li><a href="/index/{{ index_id }}">Model Overview</a></li>
    <li><a href="/index/{{ index_id }}/cluster/{{ cluster_id }}">Cluster Overview</a></li>
{% endblock %}

{% block content %}

<details>
    <summary>Edit this cluster</summary>
    <form method="post" action="/index/{{ index_id }}/feature/remove_from_model">
        <label for="feature_selection">Choose features:</label>
        <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
        <select name="feature_id" id="feature_selection" multiple>
            {% for feature_id, field, value, count in features %}
            <option value="{{ feature_id }}">{{ field }}: {{ value }}</option>
            {% endfor %}
        </select>
        <button type="submit">Delete 🗑️</button>
        <button type="submit" formaction="/index/{{ index_id }}/cluster/create" method="post">Create New Cluster</button>
    </form>
</details>

<ul class="cluster-list">
    <li>
        {{ render_cluster(index_id, cluster_id, features, highlight_feature_id=highlight_feature_id, context="cluster") }}
    </li>

    {% if rendered_docs %}
    <li>
        <p>{% if rendered_docs|length < total_docs %}Sample of the {{ total_docs }} matching documents.{% else %}All {{ total_docs }} matching documents.{% endif %}</p>
        <ul class="doc-list">
            {% for doc_id, doc in rendered_docs %}
            <li>{{ doc }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}

</ul>

{% endblock %}
