{% extends "base.html" %}

{% from 'macros.html' import render_cluster %}

{% block title %}Cluster {{ cluster_id }}{% endblock %}

{% block nav %}
    <li><a href="/index/{{ index_id }}/details">Index Details</a></li>
    <li><a href="/index/{{ index_id }}">Model Overview</a></li>
    <li><a href="/index/{{ index_id }}/cluster/{{ cluster_id }}">Cluster Overview</a></li>
{% endblock %}

{% block content %}

<details>
    <summary>Edit this cluster</summary>

    <form method="post" action="/index/{{ index_id }}/feature/remove_from_model">
        <fieldset>
            <label for="feature_selection">Choose features:</label>
            <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
            <select name="feature_id" id="feature_selection" multiple>
                {% for feature_id, field, value, count in features %}
                <option value="{{ feature_id }}">{{ field }}: {{ value }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <button type="submit">Delete Selected Features</button>
        <button type="submit" formaction="/index/{{ index_id }}/cluster/create" method="post">Create From Selected Features</button>
    </form>

    <form method="post" action="/index/{{ index_id }}/cluster/delete">
        <fieldset>
            <input type="hidden" name="return_cluster_id" value="{{ next_cluster_id }}">
            <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
            <button class="inline-button" type="submit">Delete and go to next cluster</button>
        </fieldset>
    </form>

    <form method="post" action="/index/{{ index_id }}/cluster/refine">
        <fieldset>
            <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
            <input type="hidden" name="return_to" value="cluster">
            <ul>
                <li>
                    <label for="target_clusters">Split into how many clusters:</label>
                    <input id="target_clusters" name="target_clusters" type="number" value="2" />
                </li>
                <li>
                    <label for="iterations">Number of iterations of refinement after splitting:</label>
                    <input id="iterations" name="iterations" type="number" value="10" />
                </li>
                <li>
                    <label for="minimum_cluster_features">Minimum number of features in split clusters:</label>
                    <input id="minimum_cluster_features" name="minimum_cluster_features" type="number" value="1" />
                </li>
            </ul>
        </fieldset>
        <button type="submit">Split Cluster</button>
    </form>
</details>


{% if prev_cluster_id or next_cluster_id %}
<ul>
    <li><a href="/index/{{ index_id }}/cluster/{{ prev_cluster_id }}">Previous Cluster</li>
    <li><a href="/index/{{ index_id }}/cluster/{{ next_cluster_id }}">Next Cluster</li>
    <li><a href="/index/{{ index_id }}/?cluster_id={{ cluster_id }}">Pivot By Cluster</a></li>
</ul>
{% endif %}
<ul class="cluster-list">
    <li>
        {{ render_cluster(index_id, cluster_id, features, highlight_feature_id=highlight_feature_id, context="cluster") }}
    </li>

    {% if rendered_docs %}
    <li>
        <p>{% if rendered_docs|length < total_docs %}Sample of the {{ total_docs }} matching documents.{% else %}All {{ total_docs }} matching documents.{% endif %}</p>
        <ul class="doc-list">
            {% for doc_id, doc in rendered_docs %}
            <li>{{ doc }}</li>
            {% endfor %}
        </ul>
    </li>
    {% endif %}

</ul>

{% endblock %}
