{% extends "base.html" %}

{% from 'macros.html' import render_cluster, render_context_search, render_search_results %}

{% block title %}Feature Clustering{% endblock %}

{% block nav %}
    <li><a href="/index/{{ index_id }}/details">Index Details</a></li>
    <li><a href="/index/{{ index_id }}">Model Overview</a></li>
    <li><a href="/index/{{ index_id }}/export_clusters">Export Clusters</a></li>
{% endblock %}

{% block content %}
{{ render_context_search(index_id, fields) }}

<details>
    <summary>Edit Selected Clusters</summary>
    <form method="post" id="cluster_edit" action="/index/{{ index_id }}/cluster/delete">
        <input type="hidden" name="return_to" value="model">
        <label for="target_clusters">Refine selection into how many clusters:</label>
        <input id="target_clusters" name="target_clusters" type="number">
        <button type="submit" formaction="/index/{{ index_id }}/cluster/refine" method="post">Refine Selected Clusters</button>
        <br>
        <button type="submit">Delete Clusters 🗑️</button>
        <button type="submit" formaction="/index/{{ index_id }}/cluster/merge" method="post">Merge Clusters</button>
    </form>
</details>

<ul class="cluster-list">
    {% if search_results %}
    <li>
        <div class="cluster-header">
            {% if search_results|length < total_docs %}Sample of {{ total_docs }} documents{% else %}All {{ total_docs }} matching documents.{% endif %}
        </div>

        {{ render_search_results(search_results, result_type) }}

    </li>
    {% endif %}


    {% for cluster_id, cluster_score, features in clusters %}
    <li>
        {{ render_cluster(index_id, cluster_id, features, cluster_score, highlight_cluster_id, highlight_feature_id) }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
