{% macro render_feature(index_id, cluster_id, feature_id, field, value, score, context, highlight_feature_id=None) %}
<div>
    <a href="/index/{{ index_id }}/{{ 'cluster/{}/'.format(cluster_id) if context =='cluster' }}?feature_id={{ feature_id }}">
        <div class="feature">
            <span class="field">{{ field }}</span>
            <div class="value{% if feature_id == highlight_feature_id %} highlight{% endif %}">{{ value }}</div>
            <span class="score">{{ ("{:.2e}").format(score) }}</span>
        </div>
    </a>
</div>
{%- endmacro %}


{% macro render_cluster(index_id, cluster_id, features, cluster_score=None, highlight_cluster_id=None, highlight_feature_id=None, context='index') -%}
<div class="feature-cluster">
    <div class="cluster-header {% if cluster_id == highlight_cluster_id %}highlight{% endif %}">
        Cluster {{ cluster_id }} {% if cluster_score is not none %}- {{ "{:.2e}".format(cluster_score) }}{% endif %}
    </div>
    <ul class="compact-cluster">
        {% for feature_id, field, value, score in features %}
        <li >
            {{ render_feature(index_id, cluster_id, feature_id, field, value, score, context, highlight_feature_id=highlight_feature_id)}}
        </li>
        {% endfor %}
    </ul>

    {% if context == "index" %}
    <div class="cluster-footer">
        <a href="/index/{{ index_id }}/cluster/{{ cluster_id }}{{ '/?feature_id={}'.format(highlight_feature_id) if highlight_feature_id else '' }}">See all</a>
        <a href="/index/{{ index_id }}/?cluster_id={{ cluster_id }}">Pivot</a>
        <details>
            <summary>Edit</summary>
            <form method="post" action="/index/{{ index_id }}/cluster/delete">
                <input type="hidden" name="cluster_id" value="{{ cluster_id }}">
                <button class="inline-button" type="submit">Delete 🗑️</button>
            </form>
        </details>
    </div>
    {% endif %}
</div>
{%- endmacro %}