{% macro render_feature(index_id, cluster_id, feature_id, field, value, score, context, highlight_feature_id=None) %}
<div>
    <a href="/index/{{ index_id }}/{{ 'cluster/{}/'.format(cluster_id) if context =='cluster' }}?feature_id={{ feature_id }}">
        <div class="feature">
            <span class="field">{{ field }}</span>
            <div class="value{% if feature_id == highlight_feature_id %} highlight{% endif %}">{{ value }}</div>
            <span class="score">{{ ("{:.2e}").format(score) }}</span>
        </div>
    </a>
</div>
{%- endmacro %}


{% macro render_all_field_matches(matches) %}
<table class="concordance-table">
    <caption>Documents and properties matching the query.</caption>
    <thead>
        <tr>
            <th>Document</th>
            <th>Field</th>
            <th>Value</th>
            <th>Concordances</th>
        </tr>
    </thead>

    <tbody>
    {% for doc_key, doc_id, field_matches in matches %}
        {% set doc_loop = loop %}
        {% for field, matches in field_matches.items() %}
            {% set field_loop = loop %}
            {% for value, concordances in matches.items() %}
            <tr>
                {% if doc_loop.changed(doc_key) %}
                    <th rowspan="{{ field_matches.values() | map('length') | sum }}">{{ doc_key }}</th>
                {% endif %}
                {% if field_loop.changed(field) %}
                    <td rowspan="{{ matches|length }}">{{ field }}</td>
                {% endif %}
                <td>{{ value }}</td>
                <td>
                    {% if concordances %}
                    <ul class="concordances">
                        {% for line in concordances %}
                        <li class="concordance-line">{{ line }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{%- endmacro %}



{% macro render_cluster(index_id, cluster_id, features, cluster_score=None, highlight_cluster_id=None, highlight_feature_id=None, context='index') -%}
<div class="feature-cluster">
    <div class="cluster-header {% if cluster_id == highlight_cluster_id %}highlight{% endif %}">
        Cluster {{ cluster_id }} {% if cluster_score is not none %}- {{ "{:.2e}".format(cluster_score) }}{% endif %}
    </div>
    <ul class="compact-cluster">
        {% for feature_id, field, value, score in features %}
        <li >
            {{ render_feature(index_id, cluster_id, feature_id, field, value, score, context, highlight_feature_id=highlight_feature_id)}}
        </li>
        {% endfor %}
    </ul>

    {% if context == "index" %}
    <div class="cluster-footer">
        {% if highlight_feature_id is not none %}
        <a href="/index/{{ index_id }}/cluster/{{ cluster_id }}/?feature_id={{ highlight_feature_id }}">Intersect selected feature</a>
        {% elif highlight_cluster_id is not none %}
        <a href="/index/{{ index_id }}/cluster/{{ cluster_id }}/?filter_cluster_id={{ highlight_cluster_id }}">Intersect selected cluster</a>
        {% else %}
        <a href="/index/{{ index_id }}/cluster/{{ cluster_id }}"/>See  all in cluster</a>
        {% endif %}
        <a href="/index/{{ index_id }}/?cluster_id={{ cluster_id }}">Pivot</a>
        <label>
            Select for editing:
            <input type="checkbox" form="cluster_edit" name="cluster_id" value="{{ cluster_id }}">
        </label>
    </div>
    {% endif %}
</div>
{%- endmacro %}

{% macro render_context_search(index_id, fields, cluster_id=None) -%}
<div class="feature-search">
    <form method="get" action="/index/{{ index_id }}/search">
        <label for="target_field">Search field:</label>
        <select name="field" id="target_field">
            {% for field in fields %}
            <option value="{{ field }}">{{ field }}</option>
            {% endfor %}
        </select>
        <label for="site-search">for</label>
        <input type="search" id="target_value" name="value" />
        <button type="submit">Search</button>
        {% if cluster_id %}
        <input type="hidden" name="cluster_id" value="{{ cluster_id }}"/>
        {% endif %}
    </form>
</div> 
{%- endmacro %}


{% macro render_passage(passage) -%}
<dl>
    {% for field, values in passage.items() %}
        {% for value in values %}
        <dt>{{field}}</dt>
        <dd>{{value}}</dd>
        {% endfor %}
    {% endfor %}
</dl>
{%- endmacro %}


{% macro render_search_results(results, result_type) -%}
    {% if result_type == 'concordances' %}
        {{ render_all_field_matches(results) }}

    {% elif result_type == 'passage' %}
        <ul class="doc-list">
            {% for doc_id, doc_key, passage in results %}
            <li>{{ render_passage(passage) }}</li>
            {% endfor %}
        </ul>  

    {% else %}
        <ul class="doc-list">
            {% for doc_id, doc in result %}
            <li>{{ doc }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{%- endmacro %}

